@mixin font-size($sizeValue: 1.6, $line: $sizeValue * 1.5){
  font-size: ($sizeValue * 1) + px;
  line-height: ($line * 1) + px;
  font-size: ($sizeValue / 10) + rem;
  line-height: ($line / 10) + rem;
}

@mixin background-size ($string) {
  -webkit-background-size: $string;
  -moz-background-size: $string;
  -ms-background-size: $string;
  -o-background-size: $string;
  background-size: $string;
}

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

@mixin border-radius($topleft, $topright: $topleft, $bottomright: $topleft, $bottomleft: $topleft) {
    -moz-border-radius: $topleft $topright $bottomright $bottomleft;
    -webkit-border-radius: $topleft $topright $bottomright $bottomleft;
    border-radius: $topleft $topright $bottomright $bottomleft;
}

@mixin transition ($string) {
          transition: $string;
     -moz-transition: $string;
       -o-transition: $string;
      -ms-transition: $string;
  -webkit-transition: $string;
}

@mixin transition-delay ($string) {
         transition-delay: $string;
 -webkit-transition-delay: $string;
}

@mixin box-shadow ($string) {
  box-shadow: $string;
  -moz-box-shadow: $string;
  -webkit-box-shadow: $string;
}

@mixin box-shadow-multiple ($string, $string, $string) {
  box-shadow: $string, $string, $string;
  -moz-box-shadow: $string, $string, $string;
  -webkit-box-shadow: $string, $string, $string;
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin retina-image ($filename, $background-size, $extension: png, $retina-filename: null, $asset-pipeline: false) {
  @if $asset-pipeline {
    background-image: image_url($filename + "." + $extension);
  }
  @else {
    background-image: url($filename + "." + $extension);
  }

  @include hidpi {

    @if $asset-pipeline {
      @if $retina-filename {
        background-image: image_url($retina-filename + "." + $extension);
      }
      @else {
        background-image: image_url($filename + "@2x" + "." + $extension);
      }
    }

    @else {
      @if $retina-filename {
        background-image: url($retina-filename + "." + $extension);
      }
      @else {
        background-image: url($filename + "@2x" + "." + $extension);
      }
    }

    background-size: $background-size;

  }
}