/* ===========================================================================
	Colors
	========================================================================== */
	$serif: 'Crimson Text', Georgia, Times, serif;
	$sans-serif: 'Droid Sans', Helvetica, Arial, sans-serif;

	$white: #fff;
	$black: #000;

	$link: #1ABC9C;
	$link-hover: darken(#1ABC9C, 8%);
	$link-visited: #1ABC9C;

	$text: #333332;

	$red: #c0392b;