/* ===========================================================================
	Colors
	========================================================================== */

	/*  Defaults
		========================================================================== */
		$white: #fff;
		$black: #000;
		$serif: 'Crimson Text', Georgia, Times, serif;
		$sans-serif: 'Droid Sans', Helvetica, Arial, sans-serif;

	/*  Links
		========================================================================== */
		$link: #1ABC9C;
		$link-hover: #16A085;
		$link-visited: #1ABC9C;

	/*  Text
		========================================================================== */
		$text: #333332;

	/*  General
		========================================================================== */
		$blue: #036eb5;
		$light-gray: #E2E2E2;
		$gray: #444444;

		$medium-gray: #d8d8d8;
		$dark-gray: #666666;


/* ===========================================================================
	Element Specific
	========================================================================== */
	
	/*  Buttons
		========================================================================== */
		$btn-default-text: $white;
		$btn-default-bg: #1ABC9C;
		$btn-default-bg-hover: #16A085;

	/*  Forms
		========================================================================== */
		$form-input-border-focus: #1ABC9C;