/*  Modifiers
	========================================================================== */
	.ls1 {
		letter-spacing: 1px;
	}

	.ls-1 {
		letter-spacing: -1px;
	}

	.uc {
		text-transform: uppercase;
	}

	.lc {
		text-transform: lowercase;
	}

	.textbreak {
		word-wrap: break-word;
	}

	.bg-full {
		width: 100%;
		height: auto;
		background-repeat: no-repeat;
		@include background-size(cover);
		background-position: top center;
	}

	.recessed {
		padding-top: .8em;
		padding-bottom: .8em;
		background: rgba(0, 0, 0, 0.08);
		@include box-shadow (inset 1px 1px 2px rgba($black, 0.3));
		overflow: hidden;
	}

	.recessed-text {
		padding-top: .6em;
		padding-bottom: .6em;
	}

	.recessed-p {
		padding: .6em;
	}

	.recessed.img {
		position: relative;
		padding: 0;
		>img {
			display: block;
		}
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			content: "";
			@include box-shadow (inset 1px 1px 2px rgba($black, 0.1));
		}
	}

	.absolute-center {
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}