.custom{
	background: transparent !important;
}

.default{
	background: #1ABC9C !important;
}

.alizarin{
	background: #e74c3c !important;
}

.amethyst{
	background: #9b59b6 !important;
}

.belize-hole{
	background: #2980B9 !important;
}

.carrot{
	background: #e67e22 !important;
}

.concrete{
	background: #95A5A6 !important;
}

.emerald{
	background: #2ECC71 !important;
}

.orange{
	background: #F39C12 !important;
}

.peter-river{
	background: #3498DB !important;
}

.pomegranate{
	background: #C0392B !important;
}

.pumpkin{
	background: #D35400 !important;
}

.wet-asphalt{
	background: #34495E !important;
}

.wisteria{
	background: #8E44AD !important;
}