.theme-custom{
	background: transparent !important;
}

.theme-default{
	background: #1ABC9C !important;
}

.theme-alizarin{
	background: #e74c3c !important;
}

.theme-amethyst{
	background: #9b59b6 !important;
}

.theme-belize-hole{
	background: #2980B9 !important;
}

.theme-blue-good{
	background: #81a4af !important;
}

.theme-carrot{
	background: #e67e22 !important;
}

.theme-concrete{
	background: #95A5A6 !important;
}

.theme-emerald{
	background: #2ECC71 !important;
}

.theme-orange{
	background: #F39C12 !important;
}

.theme-peter-river{
	background: #3498DB !important;
}

.theme-pink-lizard{
	background: #fa2e39 !important;
}

.theme-pomegranate{
	background: #C0392B !important;
}

.theme-pumpkin{
	background: #D35400 !important;
}

.theme-wet-asphalt{
	background: #34495E !important;
}

.theme-wisteria{
	background: #8E44AD !important;
}